asgiref==3.8.1
awsebcli==3.20.10
blessed==1.20.0
boto3==1.26.0
botocore==1.29.0
cement==2.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.3
Django==5.1
django-allauth==64.2.0
django-debug-toolbar==4.4.6
django-extensions==3.2.3
django-storages==1.14.4
environs==11.0.0
gunicorn==23.0.0
idna==3.8
iniconfig==2.0.0
jmespath==1.0.1
loguru==0.7.2
marshmallow==3.22.0
mysqlclient==2.2.4
packaging==24.1
pathspec==0.10.1
pluggy==1.5.0
pytest==8.3.2
pytest-django==4.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.3
s3transfer==0.6.2
semantic-version==2.8.5
six==1.16.0
sqlparse==0.5.1
termcolor==1.1.0
urllib3==1.26.19
wcwidth==0.1.9
