option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/"

  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: "aws-elasticbeanstalk-ec2-role"  # Usando el perfil por defecto
  
  aws:elasticbeanstalk:container:python:
    WSGIPath: project.wsgi:application

packages:
  yum:
    mariadb105-devel: []
