{% extends "layouts/content.html" %}

{% block title %}Subir Archivo{% endblock %}

{% block content %}
<div class="content-centered">
    <div class="content-half">
        <div class="box-centered">
            <h1 class="text-balanced">Sube tu Archivo</h1>

            <form 
                hx-post="upload/"
                hx-target="#upload-result"
                hx-swap="outerHTML"
                enctype="multipart/form-data"
                id="upload-form">
                {% csrf_token %}
                
                <div class="file-input-container">
                    <label class="custom-file-upload">
                        <input type="file" name="file" required>
                        <span class="file-cta">Choose File</span>
                    </label>
                </div>
                
                <button class="submit-btn">Upload</button>
            </form>

            <div id="upload-result" class="result-container"></div>
        </div>
    </div>
</div>
{% endblock %}
