{% extends "layouts/content.html" %}

{% block title %}Subir Archivo{% endblock %}

{% block content %}
<div class="columns is-centered mt-5">
    <div class="column is-half">
        <div class="box has-text-centered has-shadow">
            <h1 class="title has-text-primary">Sube tu Archivo</h1>

            <form 
                hx-post="upload/"
                hx-target="#upload-result"
                hx-swap="outerHTML"
                enctype="multipart/form-data"
                id="upload-form">
                {% csrf_token %}
                
                <div class="file has-name is-centered">
                    <label class="file-label">
                        <input class="file-input" type="file" name="file" hx-trigger="change" hx-target="#file-name" hx-swap="outerHTML" required>
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Elige un archivo
                            </span>
                        </span>
                    </label>
                </div>
                
                <div class="has-text-centered mt-2">
                    <span class="file-name" id="file-name">
                        Ningún archivo seleccionado
                    </span>
                </div>
                
                <button class="button is-primary mt-4" type="submit">Subir</button>
            </form>

            <div id="upload-result" class="mt-4"></div>
        </div>
    </div>
</div>

{% endblock %}
