<!-- templates/partials/navbar.html -->
<nav class="navbar is-fixed-top">
    <div class="navbar-container">
        <div class="navbar-brand">
            <span class="navbar-title">
                TAJAMAR
            </span>
        </div>
        <div class="navbar-menu">
            {% if user.is_authenticated %}
                <span class="navbar-user">Bienvenido, {{ user.username }}</span>
                <div class="navbar-buttons">
                    <a href="{% url 'account_logout' %}" class="navbar-btn">Log Out</a>
                </div>
            {% else %}
                <div class="navbar-buttons">
                    <a href="{% url 'account_login' %}" class="navbar-btn">Log In</a>
                    <a href="{% url 'account_signup' %}" class="navbar-btn">Sign Up</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
