<!-- templates/layouts/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Proyecto{% endblock %}</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <!-- Navbar -->
    {% include "partials/navbar.html" %}

    <!-- Main Content -->
    <section class="main-section">
        <div class="container">
            {% block layout %} -no layout- {% endblock %}
        </div>
    </section>

    <script src="{% static 'libs/htmx/htmx.min.js' %}"></script>
</body>
</html>
