/* base.css - Minimal CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.text-balanced {
    text-align: justify;
    text-wrap: balance;
  }
  
  .navbar.is-fixed-top + .section {
    margin-top: 80px; /* Ajusta según la altura de la navbar */
}
.navbar.is-fixed-top {
    top: 0;
    z-index: 1000;
}

.section {
    padding-top: 100px; /* Ajustar según la altura de la navbar */
}
